{% include 'top.html' %}
<div class="content">
    <div class="container details">

        <h2 class="title"> Change Phone Number </h2>

        <form class="Add" method="POST" action="{{url_for('changePhoneNo',username = user.username)}}">

            New Phone Number: <input type="text" name="phone" value="phone" placeholder="04********">
            <br/>
            <button class="flat" type="submit"> SUBMIT </button>

            <hr/>

        </form>
        <br/>
        <br/>
        <br/>
        <br/>
        <div>

     </div>
     </div>
     {% include 'bottom.html'%}
