{% include 'top.html' %}
<div class="content">
    <div class="container details">

        <h2 class="title"> Change Password </h2>

        <form class="Add" method="POST" action="{{url_for('change_password',username = user.username)}}">

            New Password: <input type="text" name="password" value="password" placeholder="******">
            <br/>
            <button class="flat" type="submit"> SUBMIT </button>

            <hr/>


        </form>
        <br/>
        <br/>
        <br/>
        <br/>
        <div>

     </div>
     </div>
     {% include 'bottom.html'%}
